﻿<div id="TaskFirstSolution" align="center">
    <form method="post">
        <p>Исходное предложение:</p>
        <p>
            <input type="text" name="Text" />
        </p>
        <p>
            <input type="submit" value="проверить" />
        </p>
        <p>Измененное предложение:</p>
        <label>@ViewBag.Text</label>
    </form>
</div>